@mixin sticky {
  top: 0;
  position: sticky;
}
@mixin menus {
  font-size: 50px;
  writing-mode: vertical-lr;
  letter-spacing: 0.2em;
  position: absolute;
  z-index: 2;
}
.tier-one,
.tier-two,
.tier-three {
  background-color: rgb(73, 72, 72);
  height: 100vh;
}
body {
  padding-top: constant(safe-area-inset-top); /* iOS 11.0 */
  padding-top: env(safe-area-inset-top); /* iOS 11.2 */
}
li {
  color: black;
}

.menu,
.content,
.submenu {
  border-right: 3px solid lightcoral;
  transition: all 0.5s;
  .submenu-menu .main-menu {
    color: white;
  }
}
.menu,
.submenu {
  height: 100%;
}
.content {
  overflow-y: auto;
  background-color: rgba(221, 183, 86, 0.671);
}

.menu {
  background-color: rgba(43, 179, 149, 0.555);
  & ul {
    font-size: 40px;
  }
  & .main-menu {
    font-size: 80px;
    color: white;
  }
}
.submenu {
  & .submenu-menu {
    font-size: 60px;
    color: white;
  }
  & ul {
    font-size: 40px;
  }
}

.tier-two {
  .submenu {
    background-color: rgb(110, 43, 43);
  }
  .menu ul {
    display: none;
  }
  .main-menu {
    @include menus();
    left: 25%;
    top: 30%;
  }
}
.tier-three {
  .submenu {
    background-color: rgb(110, 43, 43);
  }
  .menu ul {
    display: none;
  }
  .submenu ul {
    display: none;
  }
  .main-menu {
    @include menus();
    left: 25%;
    top: 30%;
  }
  .submenu-menu {
    @include menus();
    left: 25%;
    top: 33%;
  }
}
@import "./content.scss";
@import "./menu.scss";

@media screen and (max-width: 500px) {
  .tier-one {
    .menu {
      background-color: rgba(43, 179, 149, 0.555);
      & ul {
        font-size: 30px;
      }
    }
    .main-menu {
      font-size: 50px;
    }
    .menu {
      font-size: 20px;
    }
  }
  .tier-two {
    .menu {
      background-color: rgba(45, 134, 115, 0.555);
    }
    .menu ul {
      display: none;
      font-size: 100px;
    }
    .submenu {
      background-color: rgb(110, 43, 43);
    }
    .main-menu {
      @include menus();
      left: -40%;
      top: 25%;
    }
  }
  .tier-three {
    .menu {
      @include sticky();
      background-color: rgba(56, 182, 155, 0.678);
    }
    .menu ul {
      display: none;
    }
    .submenu {
      @include sticky();
      background-color: rgb(133, 49, 49);
    }
    .submenu ul {
      display: none;
    }
    .main-menu {
      @include menus();
      left: -40%;
      top: 25%;
    }
    .submenu-menu {
      @include menus();
      left: -40%;
      top: 27.6%;
    }
  }
}
