@mixin sticky {
  top: 0;
  position: sticky;
}
@mixin Vmenus {
  font-size: 30px;
  writing-mode: vertical-rl;
  letter-spacing: 0.4em;
  z-index: 2;
}

.tier-one,
.tier-two,
.tier-three {
  height: 100vh;
  display: grid;
  align-content: center;
  background-image: linear-gradient(rgb(42, 85, 95), rgba(22, 32, 102, 0.575))
}

.tier-one {
  .main-title {
    font-size: 60px;
  }
  .main-list {
    font-size: 30px;
  }
}

.tier-two {
  .main-title {
   
  }
  .main-list {
    font-size:20px;
    line-height: 40px;
  }
  .submenu-title {
    font-size: 60px;
  }
  .submenu-list {
    font-size: 30px;
  }
}
.tier-three {
  .main-title {
  
  }
  .main-list {
    font-size:20px;
    line-height: 40px;
  }
  .submenu-title {
    font-size: 20px;
  }
}

$break-small: 500px;

@media screen and (max-width: $break-small) {
  .tier-two {
    .main-title {
      @include Vmenus();
      height: 80vh;
    }
    .main-list {
      display: none;
    }
  }
  .tier-three {
    .main-menu {
      flex: 0 0 8.3333%;
      max-width: 8.33333%;
      .main-title {
        @include Vmenus();
        height: 80vh;
      }
      .main-list {
        display: none;
      }
    }
    .submenu {
      flex: 0 0 8.3333%;
      max-width: 8.33333%;
      .submenu-title {
        @include Vmenus();
        height: 80vh;
      }
      .submenu-list {
        display: none;
      }
    }
    .content {
      flex: 0 0 83.333333%;
      max-width: 83.33333;
    }
  }
}
