html, body {
  overflow: auto;
  max-height: 100%;
}

@mixin sticky {
  top: 0;
  position: sticky;
}
@mixin Vmenus {
  font-size: 6vw;
  writing-mode: vertical-rl;
  letter-spacing: 0.4em;
  z-index: 2;
}
@keyframes identifier {
  0% {left: 100%; }
  100% { left: 0 }
}
@keyframes fadeIn {
  0%{opacity: .1;}
  100%{opacity: 1}
}


$blue: rgba(93, 127, 177, 0.705);

#app-container.deep-link-first-load {
  .submenu {
    animation-name: identifier !important;
    animation-duration: 4s !important;
  }
  .content {
    animation-name: identifier !important;
    animation-duration: 4s !important;
  }
}

.tier-one,
.tier-two,
.tier-three {
  height: 100vh;
  background-image: linear-gradient(rgb(42, 85, 95), rgba(22, 32, 102, 0.575));
}
.tier-one{
  background-color: green;
  transition: background-color 1s ease-in-out;
}
.tier-two{
  background-color: red;
  transition: background-color 1s ease-in-out;
}
.tier-three{
  background-color: purple;
  transition: background-color 1s ease-in-out;
}
.main-menu {
  display: grid;
  align-content: center;
  animation-name: fadeIn;
  animation-duration: 1s;
  position: sticky;
  .main-title {
    color: white;
    &:hover {
      cursor: pointer; 
    }
  }
  .menu-list {
    &:hover {
      cursor: pointer; 
    }
  }
}
.submenu {
  display: grid;
  align-content: center;
  animation-name: identifier;
  animation-duration: 1s;
  position: sticky;
  .submenu-title{
    object-fit: contain;
    color: white;
    &:hover {
      cursor: pointer; 
    }
  }
  .submenu-list:hover {
    color: $blue;
    cursor: pointer;
  }
}
.content {
  overflow: auto;
  height: 100%;
  animation-name: identifier;
  animation-duration: 1s;
}

.tier-one {
  .main-title {
    font-size: 60px;
  }
  .main-list {
    font-size: 20px;
  }
}

.tier-two {
  .main-title {
    font-size: 30px;
  }
  .main-list {
    font-size:20px;
    line-height: 40px;
  }
  .submenu-title {
    font-size: 60px;
  }
  .submenu-list {
    font-size: 30px;
  }
}
.tier-three {
  .main-title {
    font-size: 30px;
  }
  .main-list {
    font-size:20px;
    line-height: 40px;
  }

  .submenu-title {
    font-size: 30px;
  }
}

$break-small: 720px;

@media screen and (max-width: $break-small) {
  .tier-two {
    .main-title {
      @include Vmenus();
      height: 80vh;
    }
    .menu-list {
      display: none;
    }
  }
  .tier-three {
    .main-menu {
      flex: 0 0 8.333333% !important;
      max-width: 8.333333% !important;
      padding: 0;
      .main-title {
        @include Vmenus();
        height: 90vh;
      }
      .menu-list {
        display: none;
      }
    }
    .submenu {
      flex: 0 0 8.333333% !important;
      max-width: 8.333333% !important;
      padding: 0;
      .submenu-title {
        @include Vmenus();
        height: 90vh;
      }
      .submenu-list {
        display: none;
      }
    }
    .content {
      padding: 0;
      flex: 0 0 83.333333% !important;
      max-width: 83.333333% !important;
    }
  }
}
